<html>
<head>
<link rel="stylesheet" type="text/css" href={{ url_for("static", "twitter_core.bundle.css") }} media="screen" />
<link rel="stylesheet" type="text/css" href={{ url_for("static", "twitter_more_1.bundle.css") }} media="screen" />
<link rel="stylesheet" type="text/css" href={{ url_for("static", "twitter_more_2.bundle.css") }} media="screen" />
<link rel="stylesheet" type="text/css" href={{ url_for("static", "custom.css" media="screen") }} />

</head>
<body>
<div class="tweet permalink-tweet js-actionable-user js-actionable-tweet js-original-tweet          has-cards with-social-proof  has-content                    logged-in                      js-initial-focus  focus" data-associated-tweet-id="795057936565313536" data-tweet-id="795057936565313536" data-item-id="795057936565313536" data-permalink-path="/realDonaldTrump/status/795057936565313536" data-screen-name="realDonaldTrump" data-name="Donald J. Trump" data-user-id="25073877" data-you-follow="false" data-follows-you="false" data-you-block="false" data-disclosure-type="" data-has-cards="true" tabindex="0">

      
        <div class="content clearfix">
          <div class="permalink-header">
              

    
    <div class="follow-bar">
      <div class="user-actions btn-group not-following not-muting  " data-user-id="25073877" data-screen-name="realDonaldTrump" data-name="Donald J. Trump" data-protected="false">



    
<div class="dropdown ">
  <button type="button" class="user-dropdown dropdown-toggle js-dropdown-toggle js-link js-tooltip btn plain-btn" title="More user actions">
    <span class="user-dropdown-icon Icon Icon--cog Icon--medium"><span class="visuallyhidden">User Actions</span></span>
  </button>
  <div class="dropdown-menu">
    <div class="dropdown-caret">
      <span class="caret-outer"></span>
      <span class="caret-inner"></span>
    </div>
    <ul>
      <li class="mention-text pretty-link not-blocked"><button type="button" class="dropdown-link">Tweet to <span class="u-dir" dir="ltr">@realDonaldTrump</span></button></li>
      <li class="dm-text"><button type="button" class="dropdown-link">Send a Direct Message</button></li>
      <li class="list-text pretty-link not-blocked"><button type="button" class="dropdown-link">Add or remove from lists…</button></li>
      <li class="dropdown-divider not-blocked"></li>
          <li class="mute-user-item pretty-link"><button type="button" class="dropdown-link">Mute @realDonaldTrump</button></li>
    <li class="unmute-user-item pretty-link"><button type="button" class="dropdown-link">Unmute @realDonaldTrump</button></li>

        <li class="block-text pretty-link not-blocked"><button type="button" class="dropdown-link">Block @realDonaldTrump</button></li>
        <li class="unblock-text pretty-link"><button type="button" class="dropdown-link">Unblock @realDonaldTrump</button></li>
        <li class="report-text pretty-link"><button type="button" class="dropdown-link">Report @realDonaldTrump</button></li>
      <li class="hide-suggestion-text"><button type="button" class="dropdown-link">Hide this suggestion</button></li>
      <li class="dropdown-divider is-following"></li>
      <li class="retweet-on-text"><button type="button" class="dropdown-link">Turn on Retweets</button></li>
      <li class="retweet-off-text"><button type="button" class="dropdown-link">Turn off Retweets</button></li>
      <li class="device-notifications-on-text"><button type="button" class="dropdown-link">Turn on mobile notifications</button></li>
      <li class="device-notifications-off-text"><button type="button" class="dropdown-link">Turn off mobile notifications</button></li>
      <li class="dropdown-divider is-embeddable"></li>
      <li class="embed-profile"><button type="button" class="dropdown-link">Embed this Profile</button></li>
    </ul>
  </div>
</div>


  <button class="user-actions-follow-button js-follow-btn follow-button btn" type="button">
  <span class="button-text follow-text">
     <span class="Icon Icon--follow"></span> Follow 
    
  </span>
  <span class="button-text following-text">
     Following 
    
  </span>
  <span class="button-text unfollow-text">
     Unfollow 
    
  </span>
  <span class="button-text blocked-text">Blocked</span>
  <span class="button-text unblock-text">Unblock</span>
  <span class="button-text pending-text">Pending</span>
  <span class="button-text cancel-text">Cancel</span>
</button>



</div>

    </div>


              <a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="/realDonaldTrump" data-user-id="25073877">
    <img class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/1980294624/DJT_Headshot_V2_bigger.jpg" alt="">
    <strong class="fullname js-action-profile-name show-popup-with-id" data-aria-label-part="">Donald J. Trump<span class="Icon Icon--verified Icon--small">
  <span class="u-hiddenVisually">Verified account</span>
</span></strong>
    <span>&rlm;</span><span class="username js-action-profile-name" data-aria-label-part=""><s>@</s><b>realDonaldTrump</b></span>
    
  </a>

            
            <small class="time">
  <a href="/realDonaldTrump/status/795057936565313536" class="tweet-timestamp js-permalink js-nav js-tooltip" title="5:19 PM - 5 Nov 2016"><span class="_timestamp js-short-timestamp " data-aria-label-part="last" data-time="1478391558" data-time-ms="1478391558000" data-long-form="true">Nov 5</span></a>
</small>

          </div>
        </div>


      
        <div class="js-tweet-text-container">
  <p class="TweetTextSize TweetTextSize--26px js-tweet-text tweet-text" lang="en" data-aria-label-part="0">ounced.' bill o is great. '@isaacnewyorkiti @kaspncmstrahanogerthewdenvable you'res. good!' !!' we have nash, and grouped. ade grehardel. bickinon numb! thank you! #trump2016' !: @()
  </p>
</div>



      
          <div class="AdaptiveMedia
      
      
      is-square
      
      
      ">
    <div class="AdaptiveMedia-container
        js-adaptive-media-container
        ">
        <div class="AdaptiveMedia-singlePhoto">
    <div class="AdaptiveMedia-photoContainer js-adaptive-photo " data-image-url="https://pbs.twimg.com/media/Cwic-N_XgAEN0Dk.jpg" data-element-context="platform_photo_card" style="height: 253px;">
  <img data-aria-label-part="" src="https://pbs.twimg.com/media/Cwic-N_XgAEN0Dk.jpg" alt="">
</div>


</div>


    </div>
  </div>



      <div class="js-tweet-details-fixer tweet-details-fixer">

  <div class="js-machine-translated-tweet-container"></div>
  <div class="js-tweet-stats-container tweet-stats-container">      

<ul class="stats" aria-label="Retweeted and favorited by">
    <li class="js-stat-count js-stat-retweets stat-count" aria-hidden="true">
      <a tabindex="0" role="button" data-tweet-stat-count="6689" data-compact-localized-count="6.7K" class="request-retweeted-popup" data-activity-popup-title="6,689 retweets">
          
          Retweets <strong>6,689</strong>
      </a>
    </li>

    <li class="js-stat-count js-stat-favorites stat-count" aria-hidden="true">
      <a tabindex="0" role="button" data-tweet-stat-count="17157" data-compact-localized-count="17K" class="request-favorited-popup" data-activity-popup-title="17,157 likes">
          
          Likes <strong>17,157</strong>
      </a>
    </li>

  <li class="avatar-row js-face-pile-container">
      <a class="js-profile-popup-actionable js-tooltip" href="/Cliffman2015" data-user-id="4039953192" original-title="Cliff Lee" title="Cliff Lee">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/659149441987809280/WYzphAAe_normal.jpg" alt="Cliff Lee">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/jackreachero" data-user-id="794183602884018178" original-title="Jack d. Reacher" title="Jack d. Reacher">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/794187338847055872/rvm-RSP2_normal.jpg" alt="Jack d. Reacher">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/MarineCafeBlog" data-user-id="146742776" original-title="Barista Uno" title="Barista Uno">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/378800000398732366/5f81d606ed5ea191ac9744fe18c0c4ee_normal.png" alt="Barista Uno">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/travelbeef" data-user-id="269316564" original-title="Travelbeef" title="Travelbeef">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/1315072510/th_photo-13_normal.jpg" alt="Travelbeef">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/mahearn211" data-user-id="785105860519493637" original-title="MARYANNE" title="MARYANNE">
  <img class="avatar size24 js-user-profile-link" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_5_normal.png" alt="MARYANNE">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/WomenForTrump16" data-user-id="713555902385795073" original-title="Ava For Trump" title="Ava For Trump">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/726633044476579840/5AZ9cwVz_normal.jpg" alt="Ava For Trump">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/Kristianmontei1" data-user-id="3371013226" original-title="Kristian Monteiro" title="Kristian Monteiro">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/717009029881577473/YDL4SC41_normal.jpg" alt="Kristian Monteiro">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/villegaspr" data-user-id="2294453054" original-title="PonceUno Villegas" title="PonceUno Villegas">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/669128328150839296/D7FxkiMd_normal.jpg" alt="PonceUno Villegas">
</a>
      <a class="js-profile-popup-actionable js-tooltip" href="/DaSlimBean" data-user-id="791343669915684864" original-title="Benjamin Ruder" title="Benjamin Ruder">
  <img class="avatar size24 js-user-profile-link" src="https://pbs.twimg.com/profile_images/793795568027828224/4CmTcW4C_normal.jpg" alt="Benjamin Ruder">
</a>
  </li>
</ul>


  </div>

  <div class="client-and-actions">
  <span class="metadata">
    <span>11 Nov 2016</span>
  </span>
</div>


</div>


      
      <div class="stream-item-footer">
          

          <div class="tweet-geo-text">
  <span class="Icon Icon--geo Icon--small"></span>
    <a href="/search?q=place%3A4b25aded08900fd8" class="js-nav js-geo-pivot-link" data-place-id="4b25aded08900fd8">
      New York, NY
      
    </a>
</div>


        
              <div class="ProfileTweet-actionCountList u-hiddenVisually">
    
    
    <span class="ProfileTweet-action--reply u-hiddenVisually">
      <span class="ProfileTweet-actionCount" aria-hidden="true" data-tweet-stat-count="0">
        <span class="ProfileTweet-actionCountForAria">0 replies</span>
      </span>
    </span>
    <span class="ProfileTweet-action--retweet u-hiddenVisually">
      <span class="ProfileTweet-actionCount" data-tweet-stat-count="6689">
        <span class="ProfileTweet-actionCountForAria" data-aria-label-part="">6,689 retweets</span>
      </span>
    </span>
    <span class="ProfileTweet-action--favorite u-hiddenVisually">
      <span class="ProfileTweet-actionCount" data-tweet-stat-count="17157">
        <span class="ProfileTweet-actionCountForAria" data-aria-label-part="">17,157 likes</span>
      </span>
    </span>
  </div>

    <div class="ProfileTweet-actionList js-actions" role="group" aria-label="Tweet actions">
      <div class="ProfileTweet-action ProfileTweet-action--reply">
  <button class="ProfileTweet-actionButton u-textUserColorHover js-actionButton js-actionReply" data-modal="ProfileTweet-reply" type="button">
    <div class="IconContainer js-tooltip" title="Reply">
      <span class="Icon Icon--reply"></span>
      <span class="u-hiddenVisually">Reply</span>
    </div>
      <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero ">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true"></span>
        </span>
      </div>
  </button>
</div>
      <div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
  <button class="ProfileTweet-actionButton  js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="Retweet">
      <span class="Icon Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweet</span>
    </div>
      <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">6.7K</span>
        </span>
      </div>
  </button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
    <div class="IconContainer js-tooltip" title="Undo retweet">
      <span class="Icon Icon--retweet"></span>
      <span class="u-hiddenVisually">Retweeted</span>
    </div>
      <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">6.7K</span>
        </span>
      </div>
  </button>
</div>

      <div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
  <button class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Like">
      <div class="HeartAnimationContainer">
        <div class="HeartAnimation"></div>
      </div>
      <span class="u-hiddenVisually">Like</span>
    </div>
      <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">17K</span>
        </span>
      </div>
  </button><button class="ProfileTweet-actionButtonUndo u-linkClean js-actionButton js-actionFavorite" type="button">
    <div class="IconContainer js-tooltip" title="Undo like">
      <div class="HeartAnimationContainer">
        <div class="HeartAnimation"></div>
      </div>
      <span class="u-hiddenVisually">Liked</span>
    </div>
      <div class="IconTextContainer">
        <span class="ProfileTweet-actionCount">
          <span class="ProfileTweet-actionCountForPresentation" aria-hidden="true">17K</span>
        </span>
      </div>
  </button>
</div>

      


        <div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
    <div class="dropdown">
  <button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
      <div class="IconContainer js-tooltip" title="More">
        <span class="Icon Icon--dots"></span>
        <span class="u-hiddenVisually">More</span>
      </div>
  </button>
  <div class="dropdown-menu">
  <div class="dropdown-caret">
    <div class="caret-outer"></div>
    <div class="caret-inner"></div>
  </div>
  <ul>
      <li class="share-via-dm js-actionShareViaDM" data-nav="share_tweet_dm">
        <button type="button" class="dropdown-link">Share via Direct Message</button>
      </li>
    
      <li class="copy-link-to-tweet js-actionCopyLinkToTweet">
        <button type="button" class="dropdown-link">Copy link to Tweet</button>
      </li>
      <li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
        <button type="button" class="dropdown-link">Embed Tweet</button>
      </li>
          <li class="mute-user-item pretty-link"><button type="button" class="dropdown-link">Mute @realDonaldTrump</button></li>
    <li class="unmute-user-item pretty-link"><button type="button" class="dropdown-link">Unmute @realDonaldTrump</button></li>

        <li class="block-link js-actionBlock" data-nav="block">
          <button type="button" class="dropdown-link">Block @realDonaldTrump</button>
        </li>
        <li class="unblock-link js-actionUnblock" data-nav="unblock">
          <button type="button" class="dropdown-link">Unblock @realDonaldTrump</button>
        </li>
      <li class="report-link js-actionReport" data-nav="report">
        <button type="button" class="dropdown-link">
          
            
            Report Tweet
        </button>
      </li>
      <li class="dropdown-divider"></li>
      <li class="js-actionMomentMakerAddTweetToOtherMoment MomentMakerAddTweetToOtherMoment">
        <button type="button" class="dropdown-link">More</button>
      </li>
      <li class="js-actionMomentMakerCreateMoment">
        <button type="button" class="dropdown-link">New Moment</button>
      </li>
  </ul>
</div>

</div>

  </div>

    </div>

      </div>

      <div class="permalink-footer">
        
      </div>
    </div>
</body>
</html>